In [75]:
import pandas as pd

In [76]:
filePath = "data.csv"
file = pd.read_csv(filePath, encoding='latin1')
print(file.head())
print(file.info())

            Brewer                             Name  Alc   Country  Rating  \
0  Thisted bryghus                          Classic  4,6   Danmark       6
1  Thisted bryghus                 Ãkologiks Humle  5,8   Danmark       7
2  Thisted bryghus                      Jack & beer    8   Danmark       7
3  Thisted bryghus                 Limfjords porter  7,9   Danmark       6
4  Thisted bryghus  Limfjordes porter Whisky fad 49  8,5  Danmark        8

  price
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Brewer   145 non-null    object
 1   Name     160 non-null    object
 2   Alc      160 non-null    object
 3   Country  160 non-null    object
 4   Rating   160 non-null    int64
 5   price    6 non-null      object
dtypes: int64(1), object(5)
memory usage: 7.6+ KB
None

In [77]:
file.astype({'Country': 'string'}).dtypes
print(file.dtypes)
print(file.isnull().sum())

Brewer     object
Name       object
Alc        object
Country    object
Rating      int64
price      object
dtype: object
Brewer      15
Name         0
Alc          0
Country      0
Rating       0
price      154
dtype: int64

In [78]:
file['Country'] = file['Country'].str.lower()
file["Country"] = file['Country'].replace(regex=r'danmrk', value='danmark')
file["Country"] = file['Country'].replace(regex=r'denmrk', value='danmark')
file["Country"] = file['Country'].replace(regex=r'danmrk', value='danmark')
file["Country"] = file['Country'].replace(regex=r' ', value='')


print(file['Country'].unique())

['danmark' 'england' 'danmrk' 'denmark' 'dannark' 'tyskland' 'danamrk'
 'belgien' 'italien' 'amerika' 'polen' 'usa' 'mexico' 'estland' 'tjekkiet'
 'kina' 'holland' 'belgium']